<p id="notice"><%= notice %></p>

<h1>First Queries</h1>

<table>
  <thead>
    <tr>
      <th>Suserid</th>
      <th>Queryid</th>
      <th>Query</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @first_queries.each do |first_query| %>
      <tr>
        <td><%= first_query.sUserID %></td>
        <td><%= first_query.queryID %></td>
        <td><%= first_query.query %></td>
        <td><%= link_to 'Show', first_query %></td>
        <td><%= link_to 'Edit', edit_first_query_path(first_query) %></td>
        <td><%= link_to 'Destroy', first_query, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New First Query', new_first_query_path %>
