<%= simple_form_for(@first_query_tag) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :queryID %>
    <%= f.input :shotID %>
    <%= f.input :tagDesc %>
    <%= f.input :tagID %>
    <%= f.input :tagScore %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
