<p id="notice"><%= notice %></p>

<p>
  <strong>Queryid:</strong>
  <%= @first_query_tag.queryID %>
</p>

<p>
  <strong>Shotid:</strong>
  <%= @first_query_tag.shotID %>
</p>

<p>
  <strong>Tagdesc:</strong>
  <%= @first_query_tag.tagDesc %>
</p>

<p>
  <strong>Tagid:</strong>
  <%= @first_query_tag.tagID %>
</p>

<p>
  <strong>Tagscore:</strong>
  <%= @first_query_tag.tagScore %>
</p>

<%= link_to 'Edit', edit_first_query_tag_path(@first_query_tag) %> |
<%= link_to 'Back', first_query_tags_path %>
