<%= simple_form_for(@clist) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :CID %>
    <%= f.input :Category %>
    <%= f.input :ProgramName %>
    <%= f.input :EpisodeNum %>
    <%= f.input :VideoURL %>
    <%= f.input :VideoFileName %>
    <%= f.input :VideoThumb %>
    <%= f.input :FPS %>
    <%= f.input :RegisterDateTime %>
    <%= f.input :LastSavedDateTime %>
    <%= f.input :TagStatus %>
    <%= f.input :User %>
    <%= f.input :ProgramNameKor %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
