<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KCIA Survey</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'custom/bootstrap/css/bootstrap.min', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'custom/bootstrap/css/navvar_color', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'custom/set_font', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'custom/set_grid', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'custom/jquery-ui-1.12.1.custom/jquery-ui', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <!-- different CSS each page -->
    <%= yield :head %>
    
  </head>

  <body>
    <!-- Fixed navbar -->
    <div class="container-fluid">
	  <!--header start-->
	  <div class="row">
		<!--cl image-->
		<div class="col-xs-12">
          <a class="navbar navbar-default" href="/"><%= image_tag 'ci.png' %></a>
        </div>
        
		<!--navigation bar-->
		<div class="col-xs-12">		
		  <nav class="navbar navbar-default">
		  <div class="container-fluid">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">									
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar" >
			  <ul class="nav navbar-nav">
				<li><a href="/">홈</a></li>
	            <li><a href="/first">1차 설문</a></li>
	            <li><a href="/second">2차 설문</a></li>
	            <li><a href="/contact">진행상황&문의</a></li>
	            <% if is_admin %>
	              <li><a href="/admin">관리메뉴</a></li>
	            <% end %>
				<li class="dropdown">
				  <% if logged_in? %>
				  <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
					<ul class="dropdown-menu dropdown-menu-right">
					  <li><%= link_to "로그아웃", logout_path, method: "delete" %></li>
		              <li><a href="#">내 진행상황</a></li>
		              <li class="divider"></li>
		              <li><a href="/users/edit">내 정보 변경</a></li>
		              <li><a href="/users/password">비밀번호 변경</a></li>
					</ul>
				</li>
			
				  <% else %>
	          	  <% end %>
			  </ul>
			</div>
		  </div>
		  </nav>	
		</div>	
		<!--navigation bar end-->
	</div>
	</div>

    <div class="container">

      <%= yield %>

    </div> <!-- /container -->
    
    <!-- include javascript -->
    <%= javascript_include_tag    'custom/jquery-3.1.1.min', 'custom/bootstrap/js/bootstrap.min', 'custom/jquery-ui-1.12.1.custom/jquery-ui' %>
	<!--[if lt IE 9]>
	<%= javascript_include_tag    'https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min', 'https://oss.maxcdn.com/respond/1.4.2/respond.min' %>
	<![endif]-->

	<!-- different JavaScript each page -->
	<%= yield :tail %>
  </body>
</html>
